:root {
    --primary-purple: hsl(259, 100%, 65%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --light-red: hsl(0, 100%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    background-color: var(--off-white);

}
::placeholder {
    opacity:0.5;
}

input {
    padding: 0.5rem 1rem;
    font-size: 18px;
    width: 100%;
    font-size: 14px;
    border-radius: 0.5rem;
    border:1px solid hsla(0, 1%, 44%, 0.2);
    cursor: pointer;
}

input:focus {
    outline: 1px solid hsla(259, 100%, 65%, 0.8);
}

.img-wrap  {
    position:absolute;
    left: 120px;
    top: 145px;
    z-index: 1;
}

#arrow {
    width: 60px;
    background-color:var(--primary-purple);
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

#arrow:hover {
    background-color: var(--off-black);
}


.invalid-state-text {
    color: var(--light-red);
}

.invalid-state-style {
    outline: 1px solid var(--light-red);
}

hr {
    opacity: 0.5;
    margin: 3rem 0.5rem;
}

.error-msg {
    margin-top: 0.5rem;
    font-size: 10px;
    font-style: italic;
    color: var(--light-red); 
    height: 1ch;
}

.wrapper {
    background-color: white;
    border-radius: 1rem 1rem 4rem 1rem;
    padding: 1rem;
    position:relative;
    width:450px;
}

.inner-top-wrapper {
    display:flex;
    color:var(--smokey-grey);
    padding: 1rem 0rem;
    max-width: 500px;
}

.input-field {
    margin: 0 0.5rem;
}

.inner-bot-wrapper {
    font-size: 48px;
    padding: 1rem 0rem;
}

.output-text {
    font-style: italic;
    font-weight: 800;
}

.output-num {
    color: var(--primary-purple);
}


@media only screen and (min-width: 800px) {
    .wrapper {
        width:700px;
        padding: 2rem;
    }

    input {
        font-size: 24px;
    }

    .inner-bot-wrapper {
        font-size: 76px;
        padding: 1rem;
    }

    .input-field {
        margin: 0 1rem;
    }

    .img-wrap  {
        left: 580px;
        top: 165px;
        z-index: 1;
    }

    .error-msg {
        font-size: 12px;
    }

    #arrow {
        width: 80px;
    }


}
